body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    box-sizing: border-box;    
}


/* Сделаем стили для шапки (для пунктов меню) */
.menu{
    /* background: #003366; */
    background: #ae53ae;
    box-shadow: 0 2px 12px 2px #003366;
}

ul{
    list-style: none;
    /* отключаем нумерацию в списке */
    padding: 0;
}

.menu ul{
    /* для <ul> которые у нас только в классе .menu, а у нас будут и другие <ul>*/
    display: flex;
    /* стали в одну строку пункты меню */
    justify-content: space-between;
    /* разместились в разные стороны */
    align-items: center;
    /* по вертикали выравниваем относительно друг друга */
    font-size: 20px;
}

.menu .logo{
    color: #FFF;
    margin-right: 30%;
    /* чтобы не подходили элементы впритык */
}

a{
    text-decoration: none;
    /* для всех тегов <a> мы убрали подчеркивание */
}

.menu a{
    color: #FFF;
    /* сделали элементы меню белым цветом */
}


/* Сделаем стили для главной страницы (Система для обслуживания клиентов) */
.content .wrap{
    margin-top: 40px;
}

h1, h2{
    color: #003366;
}

.btn{
    /* background: #003366; */
    background: #ae53ae;
    color: #FFF;
}

button{
    border-radius: 6px;
    padding: 10px 40px;
    box-shadow: inset 0 0 6px 2px #FFF;
    /* сделали внутреннюю тень */
    margin-top: 40px;
    font-size: 24px;
    cursor: pointer;
    /* при на введении на кнопку появляется курсор в виде руки */
}
.center{
    text-align: center;
}

input, textarea{
    /* для всех инпутов сделаем width: 100% и пэддинг, чтобы элементы растянулись */
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-top: 4px;
}

/* в форме loginuser.html есть класс .bg, это наша форма авторизации получается */
.bg{
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 2px 12px 2px #003366;
    border-radius: 6px;
}

/* в base.html есть <button class="top">Выйти</button> */
.top{
    padding: 4px 24px;
    margin-top: 0;
    background: transparent;
    /* убрали фоновый цвет, сделали прозрачным */
    border: 0;
    /* сделали рамку border: 0; поставили ей значение 0 */
    color: #FFF;
    box-shadow: inset 0 0 0 0 transparent;
    font-size: 20px;
}

.content li{
    box-shadow: 0 2px 8px 2px #003366;
    margin-bottom: 20px;
    font-size: 20px;
    /* padding: 10px; */
}

.content a{
    color: #000;
    display: block;
    /* чтобы не только ссылки, но и весь блок стал кликабельным */
    padding: 20px;
}
.but{
    display: flex;
    align-items: flex-end;
}
.good{
    background: teal;
}
.remove{
    /* background: orangered; */
    background: rgb(150, 64, 33);
}

a b{
    color: orangered;
}

.list{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.left{
    flex-basis: 80%;
}
.date{
    text-align: right;
}

.register ul{
    margin-top: -16px;
}
.register li{
    box-shadow: none;
    font-size: 14px;
    margin-bottom: 0;
}
.helptext{
    font-size: 14px;
}
.register label{
    color: teal;
    font-size: 18px;
    font-weight: bold;
}
.register button{
    margin-top: 10px;
}
#id_important{
    width: 20px;
    height: 20px;
}