{% extends 'base.html' %}

{% block content %}
{{ super() }}

<h2>Преимущества онлайн-обучения программированию</h2>

<p><b>Доступность:</b></p>
<p>Обучение доступно из любой точки мира, в любое удобное время.</p>
<p><b>Гибкость:</b></p>
<p>Студенты могут учиться в своем темпе, выбирая наиболее удобное время для занятий.</p>
<p><b>Разнообразие курсов:</b></p>
<p>Широкий выбор курсов по различным языкам программирования и технологиям.</p>
<p><b>Сообщество:</b></p>
<p>Возможность общения с единомышленниками и получения поддержки от преподавателей
    и других студентов.</p>

{% endblock %}

