body{
    background: lightyellow;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: rgb(57, 103, 202);
    /* background: #3479db; */
    padding: 20px;
    margin-top: 0;
}
.content{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}
.flash{
    padding: 10px;
}
.flash.success{
    border: 1px solid #21DB56;
    background: #AEFFC5;
}
.flash.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

.menu a{
    font-weight: bold;
    /* color: dark brown; */
    color: white;
}

ul{
    list-style: none;
    padding: 0;
}

p>a{
    text-decoration: none;
    /* color: brown; */
    color: white;
}

li>p, li div{
    border: 1px solid #CCC;
}

p.title{
    margin: 0;
    font-weight: bold;
    /* background: gold; */
    background: rgb(57, 103, 202);
}


p.title a{
    /* display: block; */
    display: inline-block;
    padding: 10px 20px;
}

p.title:hover{
    background: orange;
}

.annonce{
    margin-top: -1px;
    margin-bottom: 40px;
    background: #FFF;
    padding: 10px 20px 20px;
}

/* <ul> в html элементы этого списка <li> расположить горизонтально рядом друг с другом 
на одной странице */
ul {
    display: flex;
    list-style-type: none; /* Убирает маркеры списка */
    padding: 0; /* Убирает отступы */
    margin: 0; /* Убирает отступы */
    text-align: center;

}
li {
    margin: 0 20px; /* Отступы между элементами списка */
}


