{% extends 'base.html' %}

{% block content %}
{{ super() }}
Содержимое главной страницы

<h1>ГЛАВНЫЕ КНИГИ ВЕСНЫ 2024
Премьера «Дюны 2», посмертный роман Маркеса и новинка Ребекки Куанг</h1>
<h2>Громкие новинки</h2>
<h3>Книга об украденном бестселлере</h3>
<p>Американскую писательницу Ребекку Куанг уже успели полюбить по всему миру после «Опиумных войн» и
    «Вавилона». Её новый роман «Йеллоуфейс» стал самым обсуждаемым событием англоязычного мира и вошёл
    в списки бестселлеров New York Times и Amazon. Теперь книга впервые вышла на русском языке в
    издательстве Fanzon.</p>
<h3>Главный остросюжетный триллер сезона</h3>
<p>Весной писатель Алекс Михаэлидес громко напомнил о себе, выпустив детектив «Ярость». Это новый
    взгляд на классический герметичный триллер, который написан от лица ненадёжного рассказчика.</p>
<h3>Завершение известного цикла о шведском городке</h3>
<p>Впервые на русском вышла заключительная часть популярной трилогии Фрsедрика Бакмана о хоккейный
    клубе из небольшого городка – «После бури». Третья книга цикла раскрывает такие важные темы,
    как принятие и прощение.</p>
<h3>Новинка от мастера психологических триллеров</h3>
<p>В романе «Странные игры» автор остросюжетных бестселлеров Майк Омер обращается к новой для себя
    теме психиатрии. Здесь нет главных героев-профайлеров или переговорщиков. Но что остаётся
    неизменным для писателя, так это захватывающая детективная линия и лихие сюжетные повороты.</p>

{% endblock %}

