<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="">
    <h1>Правила создания паролей в приложении Генератор паролей:</h1>
    <h3>Основной функционал</h3>
    <p> Приложение Генератор паролей позволяет пользователям создавать надежные пароли,
        настраивая их длину и состав.</p>
    <p>Пользователь может выбрать длину пароля, а также указать, должны ли в пароле присутствовать символы верхнего
        регистра, цифры и
        специальные символы.</p>
    <h3>Шаги для создания пароля</h3>

    <ol>
        <li>
            Выбор длины пароля:
            <ul>
                <li>Пользователь может выбрать длину пароля в диапазоне от 6 до 14 символов.</li>
            </ul>
        </li>
        <li>
            Настройка компонентов пароля:
            <ul>
                <li>Приложение предоставляет три чекбокса для настройки состава пароля:</li>
                <li>Верхний регистр: Если этот чекбокс выбран, в пароль будут включены заглавные буквы (A-Z).</li>
                <li>Цифры: Если этот чекбокс выбран, в пароль будут включены цифры (0-9).</li>
                <li>Спецсимволы: Если этот чекбокс выбран, в пароль будут включены специальные символы (например, !, @,
                    #, $ и др.).
                </li>
            </ul>
        </li>
        <li>
            Генерация пароля:
            <ul>
                <li>После настройки всех параметров, пожалуйста нажмите кнопку (Сгенерировать пароль).</li>
                <li>Сгенерированный пароль отобразится на отдельной странице (Ваш пароль).</li>
            </ul>
        </li>
    </ol>
    <p></p>
    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>

